<!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Alarms
            <small>Control panel</small>
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3 class="number_of_alarms">53</h3>
                  <p class="alarm_short_description">Normal</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3 class="number_of_alarms">10</h3>
                  <p class="alarm_short_description">Attention</p>
                </div>
                <div class="icon">
                  <i class="ion ion-eye"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-orange">
                <div class="inner">
                  <h3 class="number_of_alarms">4</h3>
                  <p class="alarm_short_description">Warning</p>
                </div>
                <div class="icon">
                  <i class="ion ion-thermometer"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3 class="number_of_alarms">2</h3>
                  <p class="alarm_short_description">Danger</p>
                </div>
                <div class="icon">
                  <i class="ion ion-flame"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->
          <div class="row">
            <div class="right-div">
            <span class="right-span">Show diagram:</span>
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-xs right-button">&nbsp;</button><button type="button" class="btn bg-yellow btn-xs right-button">&nbsp;</button><button type="button" class="btn btn-warning btn-xs right-button">&nbsp;</button><button type="button" class="btn btn-danger btn-xs">&nbsp;</button></div>
            </div>
          </div>
          

             

              

            </section><!-- right col -->
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->